body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}
.header{
  height: 100px;
  background-color: #333;
}

.header .head_left{
  float: left;
}

.header img{
  height: 80px;
}

.header .head_left img{
  float: left;
  margin-left: 20px;
}

.header .head_right img{
  float: right;
  margin-right: 20px;
}

.header .head_left img.last{
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.header .head_right{
  float: right;
}

.main{
  height: 100%;
}

.main .main_left{
   float: left;
   height: 100%;
   background: purple;
   width: 400px;
}

.main .main_left .coin_holder{
   width: 200px;
   height: 200px;
   margin: 0px auto;
   background-image: url('images/usa1.png');
   background-size: contain;
   background-repeat: no-repeat;
}

.main .main_left .coin_holder .topcoins{
   width: 100px;
   margin: 20px auto ;
   height: 150px;
}

.main .main_left .coin_holder .topcoins img{
   height: 30px;
   display: block;
   margin: 10px auto;
   -webkit-animation:spin 4s linear infinite;
   -moz-animation:spin 4s linear infinite;
   animation:spin 4s linear infinite;
}

.footer{
  height: auto;
  background-color: #222;
  color: orange;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
